<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Liste des véhicules</h4>
        </div>
        <div class=" col-sm-11">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
                <label class=" btn btn-sm btn-success btn-simple" >
                 <span (click) = "goToAddPage('addCar')"
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Ajouter véhicule
                  </span>
                 </label>
              </div>
            </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                <th>Matricule</th>
                  <th>Type de véhicule</th>
                  <th>Année de fabrication</th>
                  <th>marque</th>
                  <th>Type de carburant</th>
                  <th>Puissance</th>
                  <th>Kilométrage</th>
                  <th>Consommation de carburant</th>
                  <th>Nombre des places</th>
                  <th>Capacité en Kg</th>
                  <th>Disponibilité</th>
                  <th>Type de permis</th>
                  <th>Mot clé</th>
                  <th>action</th>
                </tr>
              </thead>
              <tbody  >
                <tr *ngFor = "let l of list">
                <td>{{l.Matricule}}</td>
                  <td>{{l.TypeVehicule}}</td>
                  <td>{{l.AnneeFabrication | date :'dd/MM/yyyy'}}</td>
                  <td>{{l.Marque}}</td>
                  <td>{{l.Puissance}}</td>
                  <td>{{l.Kilometrage}}</td>
                  <td>{{l.ConsommationCarburant}}</td>
                  <td>{{l.NombrePlace}}</td>
                  <td>{{l.Capacite}}</td>
                  <td>{{l.Climatisation}}</td>
                  <td>{{l.Kilometrage}}</td>
                  <td>{{l.Disponibilite}}</td>
                  <td>{{l.TypePermis}}</td>
                  <td>{{l.MotCle}}</td>
                  <td >
                  <label class=" btn btn-sm btn-success btn-simple" >
                  <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block" [routerLink]="['/updateCar']"> editer </span>
                  </label>
                  <label class=" btn btn-sm btn-danger btn-simple" >
                 <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block" (click)="delete(el)"

                 >supprimer
                     </span>
                   </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
